################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/todo-portal-api.slnx
/TodoPortal.Api/obj
/TodoPortal.Application/bin/Debug/net10.0
/TodoPortal.Application/obj
/TodoPortal.Domain/bin/Debug/net10.0
/TodoPortal.Domain/obj
/TodoPortal.Infrastructure/obj
/TodoPortal.Api/bin/Debug/net10.0
